
<div class="row">
  <div id="new-episode-div">
    <button id="present-new-episode-modal" class="btn btn-primary btn-block" data-toggle="modal" data-target="#new-episode-modal">
      New Episode
    </button>
  </div>
</div>

<div class="row">
  <div id="episode-list">
    <%= render current_user.episodes.order(created_at: :desc) %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-episode-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Episode</h4>
      </div>
      <div class="modal-body">
        <%= form_for @episode do |f| %>
          <%= f.text_field :name, placeholder: "Episode name", class: "form-control input-lg" %>
          <%= f.radio_button :encoder, 'mp3', :checked => true %>
          <%= f.label :encoder, 'mp3', :value => 'mp3', :class => 'encoding' %>
          <%= f.radio_button :encoder, 'wav' %>
          <%= f.label :encoder, 'wav', :value => 'wav', :class => 'encoding' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="submit" id="new-episode-modal-btn" class="btn btn-primary" form="new_episode">Go</button>
      </div>
    </div>
  </div>
</div>
