<!-- ChatBox & Guests -->
<div class="row">
  <div class="col-md-3" id="left-container">
    <% if is_host?(@episode) %>
      <div class="share-button">
        <button id="present-share-link-modal" class="btn btn-block" data-toggle="modal" data-target="#share-link-modal">Share Link</button>
      </div> 
    <% end %>
    <div id="guest-list">
      <%= render @episode.guests.order(is_host: :desc) %>
    </div>
  </div>
  
  <div class="col-md-9" id="right-container">
    <div id="chat-container"></div>
    <div id="input-box">
      <input id="chat-input" class="form-control pull-left" placeholder="Type your message here"/>
      <button id="chat-send" class="pull-right">Send</button>
    </div>
  </div>
</div>
<!-- End ChatBox & Guests -->

<!-- Control Panel -->
<div class="row">
  <div id="control-panel" class="text-right">
    <div id="timer" class="text-lg"></div>
    <div id="record-buttons" <%= 'hidden' unless is_host?(@episode) %> >
      <button id="init" class="btn btn-primary">Activate Mics</button>
      <button id="start" class="btn btn-primary" disabled><span class="glyphicon glyphicon-record"></span> Record</button>
      <button id="stopButton" class="btn btn-primary" disabled><span class="glyphicon glyphicon-stop"></span> Stop</button>
    </div>
  </div>
  <!-- Spinner -->
  <div id="local-recording" class="text-center">
  </div>
</div>

<!-- Track List -->
<% if is_host?(@episode) %>
  <div class="row">
    <div class="col-md-12" id="track-list" <%= 'hidden' if @episode.tracks.empty? %> >
      <h1 class="page-header">Tracks</h1>
        <%= render @episode.tracks %>
    </div>
  </div>
<% end %>

<!-- Modals -->
<% if is_host?(@episode) %>
  <%= render '/episodes/modals/share_link' %>
<% end %>
<% if unregistered_guest?(@episode) %>
  <%= render '/episodes/modals/register_guest' %>
<% end %>

<!-- Encoder -->
<div id="encoder" hidden><%= @episode.encoder %></div>

<!-- Current Guest -->
<div id="current_guest" hidden><%= current_guest.name if current_guest %></div>

<%= render '/episodes/aws_s3_upload_form' %>

<% if unregistered_guest?(@episode) %>
  <script src="/js/registerGuest.js"></script>
<% else %>
  <script>initiateActionCable();</script>
<% end %>
<script src="/js/record.js"></script>
