<!-- ChatBox & Guests -->
<div class="row">
  <div class="col-md-3" id="left-container">
    <% if is_host?(@episode) %>
      <div class="share-button">
        <button id="present-share-link-modal" class="btn btn-block" data-toggle="modal" data-target="#share-link-modal">Share Link</button>
      </div> 
    <% end %>
    <div id="guest-list">
      <%= render partial: 'users/host', locals: { host: @episode.host } %>
      <%= render @episode.guests %>
    </div>
  </div>
  
  <div class="col-md-9" id="right-container">
    <div id="chat-container"></div>
    <div id="input-box">
      <input id="input" class="form-control pull-left" placeholder="Type your message here"/>
      <button id="send" class="pull-right">Send</button>
    </div>
  </div>
</div>
<!-- End ChatBox & Guests -->

<!-- Control Panel -->
<div class="row">
  <div id="control-panel" class="text-right">
    <div id="record-buttons" <%= 'hidden' unless is_host?(@episode) %> >
      <button id="init" class="btn btn-primary">Activate Mics</button>
      <button id="start" class="btn btn-primary" disabled><span class="glyphicon glyphicon-record"></span> Record</button>
      <button id="stopButton" class="btn btn-primary" disabled><span class="glyphicon glyphicon-stop"></span> Stop</button>
    </div>
    <form id="encoding-options">
      <div class="radio">
        <label class="text-white encoding" for="mp3"><input type="radio" name="encoding" id="mp3" disabled checked>mp3</label>
        <label class="text-white encoding" for="wav"><input type="radio" name="encoding" id="wav" disabled>wav</label>
      </div>
    </form>
  </div>
  <div id="local-recording"></div>
</div>
<!-- End Control Panel -->

<!-- Track List -->
<% if is_host?(@episode) %>
  <div class="row">
    <div class="col-md-12" id="track-list">
      <h1 class="page-header">Tracks</h1>
      <% if is_host?(@episode) %>
          <%= render @episode.tracks %>
      <% end %>
    </div>
  </div>
<% end %>
<!-- End Track List -->

<!-- Modals -->
<% if is_host?(@episode) %>
  <%= render '/episodes/modals/share_link' %>
<% end %>

<% if unregistered_guest?(@episode) %>
  <%= render '/episodes/modals/register_guest' %>
<% end %>
<!-- End Modals -->

<%= render '/episodes/aws_s3_upload_form' %>

<script src="/record.js"></script>