<div class="row">
  <div class="col-md-6" id="guest-list">
    <%= render partial: 'users/host', locals: { host: @episode.host } %>
  </div>
  <% if user_signed_in? && current_user.host?(@episode) %>
    <button id="present-share-link-modal" class="btn btn-primary" data-toggle="modal" data-target="#share-link-modal">Share Link</button>
  <% end %>
  <div id="chat-box">
    <!-- Chat will go here -->
  </div>
  <div id="track-list">
    <!-- Download buttons for host will be visible here if recording has stopped -->
  </div>
</div>

<!-- Share Link Modal -->
<div class="modal fade" id="share-link-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Share Link</h4>
    </div>
    <div class="modal-body">
      <p>Share this link with your guests: <%= text_field :episode, :sharable_link, readonly: true, size: 40, value: episode_url(sharable_link: @episode.sharable_link) %></p>
    </div>
  </div>
</div>

<!-- Register Guest Modal -->
<div class="modal fade" id="register-guest-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Register Guest</h4>
    </div>
    <div class="modal-body">
      <%= form_for @guest do |f| %>
        <%= hidden_field :guest, :episode_id, value: @episode.id %>
        <%= f.text_field :name, placeholder: "Enter your name" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" form="new_guest">Register</button>
    </div>
  </div>
</div>

<% if (!current_user || !current_user.host?(@episode)) && !session[:guest_name] %>
  <script>
    $(window).load(function() {
      $('#register-guest-modal').modal('show');

      $('#new_guest').on('submit', function(e) {
        e.preventDefault();
        var formData = $(this).serialize();
        $.ajax({ data: formData, method: this.method, url: this.action })
          .done(function(response) {
            $('input[name="guest[name]"]').val('');
            $('#register-guest-modal').modal('hide');
          })
          .fail(function(error) {
            console.log(error);
          });
      });
    });
  </script>
<% end %>

