<p id="guest"> <%= @guest.name %> </p>
<div class="row">
  <div class="col-md-6" id="guest-list">
    <%= render partial: 'users/host', locals: { host: @episode.host } %>
    <%= render @episode.guests %>
    <% if user_signed_in? && current_user.host?(@episode) %>
      <button id="present-share-link-modal" class="btn btn-primary" data-toggle="modal" data-target="#share-link-modal">Share Link</button>
    <% end %>
  </div>



  <div class="col-md-6">
      <div id="chat-container">
        <div id="box"></div>
      </div>
      <div>
        <input id="input" placeholder="type your message here"/>
        <button id="send">Send</button>
      </div>
  </div>
</div>


<%= render '/episodes/aws_s3_upload_form' %>

<div id="record-buttons" <%= 'hidden' unless user_signed_in? && current_user.host?(@episode) %>>
  <button id="init">init</button>
  <button id="start" disabled>start</button>
  <button id="pause" disabled>pause</button>
  <button id="resume" disabled>resume</button>
  <button id="stopButton" disabled>stop</button>
</div>




<!--  <pre id="log"></pre> -->

 <script src="/recorder.min.js"></script>


<% if user_signed_in? && current_user.host?(@episode) %>
  <%= render '/episodes/modals/share_link' %>
<% end %>

<% if (!current_user || !current_user.host?(@episode)) && !cookies.signed[:guest_id] %>
  <%= render '/episodes/modals/register_guest' %>
<% end %>

<input id="test">
<button id="click">click me</button>



