<div class="row">
  <div class="col-md-6" id="guest-list">
    <%= render partial: 'users/host', locals: { host: @episode.host } %>

    <%= render @episode.guests %>

    <% if is_host?(@episode) %>
      <button id="present-share-link-modal" class="btn btn-primary" data-toggle="modal" data-target="#share-link-modal">Share Link</button>
    <% end %>
  </div>
</div>

<ul id="recordingslist"></ul>

<% if is_host?(@episode) %>
  <div id="track-list">
    <%= render @episode.tracks %>
  </div>
<% end %>

<div class="col-md-6">
  <div id="chat-container">
    <div id="box"></div>
  </div>
  <div id="input-box">
    <input id="input" placeholder="type your message here"/>
    <button id="send">Send</button>
  </div>
</div>


<%= render '/episodes/aws_s3_upload_form' %>

<!-- Information for saving of Tracks -->
<script>
  var episodeId = "<%= @episode.id %>"
</script>

<div id="record-buttons" <%= 'hidden' unless is_host?(@episode) %>>
  <button id="init">init</button>
  <button id="start" disabled>start</button>
  <button id="stopButton" disabled>stop</button>
</div>

<pre id="log"></pre>

<script src="/episodes.js"></script>
<script src="/recorderjs/recorder.min.js"></script>
<script src="/recorder.js"></script>


<% if is_host?(@episode) %>
  <%= render '/episodes/modals/share_link' %>
<% end %>

<% if unregistered_guest?(@episode) %>
  <%= render '/episodes/modals/register_guest' %>
<% end %>

<!-- Chat Keys -->
<script>
  var subscribeKey = "<%= @chat_keys[0] %>"
  var publishKey = "<%= @chat_keys[1] %>"
</script>

