<div class="row">
  <div class="col-md-6" id="guest-list">
    <%= render partial: 'users/host', locals: { host: @episode.host } %>
    <%= render @episode.guests %>
  </div>
  <% if user_signed_in? && current_user.host?(@episode) %>
    <button id="present-share-link-modal" class="btn btn-primary" data-toggle="modal" data-target="#share-link-modal">Share Link</button>
  <% end %>
  <div id="chat-box">
    <!-- Chat will go here -->
  </div>
  <div id="track-list">
    <ul id="recordingslist">
      <!-- Download buttons for host will be visible here if recording has stopped -->
    </ul>
</div>

<%= render '/episodes/aws_s3_upload_form' %>


<!-- Information for saving of Tracks -->
<script>
  var episodeId = "<%= @episode.id %>"
</script>

<div id="record-buttons" <%= 'hidden' unless user_signed_in? && current_user.host?(@episode) %>>
  <button id="init">init</button>
  <button id="start" disabled>start</button>
<!--   <button id="pause" disabled>pause</button>
  <button id="resume" disabled>resume</button> -->
  <button id="stopButton" disabled>stop</button>
</div>

 <pre id="log"></pre>

 <script src="/recorderjs/recorder.min.js"></script>

 <script src="/recorder.js"></script>


<% if user_signed_in? && current_user.host?(@episode) %>
  <%= render '/episodes/modals/share_link' %>
<% end %>

<% if (!current_user || !current_user.host?(@episode)) && !cookies.signed[:guest_id] %>
  <%= render '/episodes/modals/register_guest' %>
<% end %>


