<!DOCTYPE html>
<html>
  <head>
    <title>Wavecastr</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Supermercado+One|Titillium+Web" rel="stylesheet">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div id="flash">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name unless name == "notice" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
